<form class="set-form" [formGroup]="setForm">
  <div class="form-wrapper">
    <label for="weight">CIĘŻAR</label>
    <mat-slider vertical id="weight" formControlName="weight" thumbLabel min="0" max={{data.max}} required></mat-slider>
  </div>
  <div class="form-wrapper">
    <label for="rep">POWTÓRZENIA</label>
    <mat-slider vertical id="rep" formControlName="rep" thumbLabel min="0" max="50" required></mat-slider>
  </div>
  <button class="submit-button" type="submit" [mat-dialog-close]="setForm.value">Save</button>
</form>
