<h1 class="summary-title">Obecny trening:</h1>
<ul class="summary-list" *ngIf="results$ | async as results">
  <li *ngFor="let exercise of results[0]?.exercises">
    <h2 class="exercise-title">{{exercise.title}}</h2>
    <table class="summary-table">
      <thead>
        <tr>
          <th>SERIA</th>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>WEIGHT</th>
          <td *ngFor="let set of exercise.sets">{{set.weight}}</td>
        </tr>
        <tr >
          <th>REPETITIONS</th>
          <td *ngFor="let set of exercise.sets">{{set.rep}}</td>
        </tr>
      </tbody>
    </table>
  </li>
</ul>
