  <h1 class="exercise-title">{{exercise}}</h1>
  <h2 *ngIf="prevSetList$ | async as setList" class="workout-title">Poprzedni trening: <span *ngFor="let element of setList">{{element.date | date: 'd.MM.yyyy, HH:mm'}}</span></h2>
  <app-table [setList$]="prevSetList$"></app-table>
  <h2 class="workout-title">Obecny trening:</h2>
  <app-table [setList$]="setList$"></app-table>
  <button class="workout-button" (click)="openDialog()">Dodaj serię</button>
  <button class="workout-button" type="button" routerLink="/workout/{{id}}">Wybierz inne ćwiczenie</button>
  <button class="workout-button" type="button" routerLink="/workout/{{id}}/{{exerciseId}}/summary" (click)="getResults()">Zakończ trening i zobacz wyniki</button>
