* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Muli', sans-serif;
  color: #ffffff;
}

.mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label, .mat-accent .mat-slider-track-fill {
  background-color: #201e2e;
}
